* {
    padding: 6px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

img {
    margin: 20px;
}

h2 {
    background-color: black;
    color: white;
    padding: 8px;
}

li a {
    font-size: 20px;
    color: blue;
    display: inline;
    background-color: aqua;
}